.recipe-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-style: italic;
  height: 70vh;
}

.recipe-image{
  height: 35%;
}

.recipe-left{
  padding: 20px;
}

.recipe-right{
  padding: 10px;
}