:root {
  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;

  /* "gray-rose" color-scheme */
  --clr-primary-light: rgb(249, 250, 217, 0.1);
  --clr-primary-light-middle: rgb(190, 150, 137, 0.2);
  --clr-primary-middle: rgb(142, 78, 79, 0.7);
  --clr-primary-middle-dark: rgb(102, 62, 75, 0.7);
  --clr-primary-dark: rgb(72, 48, 59, 0.9);

  /* "dark-green" color-scheme */
  /* --clr-primary-light: rgb(219, 250, 167, 0.1);
  --clr-primary-light-middle: rgb(120, 150, 87, 0.2);
  --clr-primary-middle: rgb(82, 78, 29, 0.7);
  --clr-primary-middle-dark: rgb(62, 62, 25, 0.75);
  --clr-primary-dark: rgb(42, 48, 9, 0.85); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: whitesmoke;
  /* background: #f0f1eb !important; */
  /* background: var(--clr-primary-light-middle) !important; */

  font-family: var(--font-raleway);
}

.App {
  /* max-width: 70rem; */
  margin: 0 auto;
}

main {
  /* border: 1px solid black; */
  min-height: 70vh;
  background-color: var(--clr-primary-light-light);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.color-light-light {
  background: var(--clr-primary-light-light) !important;
}

.color-light {
  background: var(--clr-primary-light) !important;
}

.color-light-middle {
  background: var(--clr-primary-light-middle) !important;
}

.color-middle {
  background: var(--clr-primary-middle) !important;
}

.color-middle-dark {
  background: var(--clr-primary-middle-dark) !important;
}

.color-dark {
  background: var(--clr-primary-dark) !important;
}

.text-color-light {
  color: var(--clr-primary-light) !important;
}

.text-color-light-middle {
  color: var(--clr-primary-light-middle) !important;
}

.text-color-middle {
  color: var(--clr-primary-middle) !important;
}

.text-color-middle-dark {
  color: var(--clr-primary-middle-dark) !important;
}

.text-color-dark {
  color: var(--clr-primary-dark) !important;
}

.react-stars > span {
  text-shadow: 1px 1px 2px black;
}

.color-scheme {
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
}

.scheme-red-1 {
  background: red;
}

.scheme-green-1 {
  background: green;
}

.scheme-dark-green {
  background: rgb(42, 48, 9, 0.85);
}

.scheme-blue-1 {
  background: blue;
}

.scheme-gray-rose {
  background: gray;
}

.scheme-yellow {
  background: yellow;
}
